%h1
  Список преподавателей кафедры
  \(
  =@chair.name
  \)
%dl
  %br
  -@ch_teachers.map do |ch|
    %ul
      %li
        %b=link_to ch.l_name+" "+ch.f_name+" "+ch.s_name, ch
= link_to 'Назад', faculties_path

